a { 
    text-decoration: none;    
}

body {
    line-height: 1.6;
    font-family: Helvetica, Arial, sans-serif;
    font-style: 16px;
    background-color: #eeeeee;
    color: #1c2130;
}

header {
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    color: #fff;
    background-color: #00b4ff;
}
    